<div class="main-container">
  <div class="sub-container">
    <h2>Login</h2>
    <p class="Welcome-p">
      Welcome back! Log in to access EchoTix and manage your concerts and
      bookings.
    </p>

    <% if (errors && errors.length > 0) { %>
    <ul class="error-messages">
      <% errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>

    <form action="/user/Login" method="POST" class="Bandform">
      <label for="email">Username or Email:</label>
      <div class="input-icon">
        <i class="fa-solid fa-user"></i>
        <input
          type="email"
          name="email"
          placeholder="Enter yor Email"
          required
        />
      </div>

      <label for="password">Password:</label>
      <div class="input-icon">
        <i class="fa-solid fa-lock"></i>
        <input
          type="password"
          name="password"
          placeholder="Enter your password"
          required
        />
      </div>

      <button type="submit">Login</button>
      <p>Don't have an account? <a href="/user/register">Create one</a></p>
    </form>
  </div>
</div>
