@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Wallpoet&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #0a0a0a;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #cfcfcf;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 0.75rem;
}
h3 {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}
h4 {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}
h5 {
  font-size: 1.25rem;
  margin-bottom: 0.125rem;
}
h6 {
  font-size: 1rem;
  margin-bottom: 0.0625rem;
}
.flash-message {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}
.flash-success {
  background-color: #28a745;
  color: #fff;
}
.flash-error {
  background-color: #dc3545;
  color: #fff;
}
/* main container */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #0a0a0a;
  min-height: 100vh;
  margin-top: 60px; /* Adjusted to prevent overlap with fixed header */
}
.innercontainer {
  display: flex;

  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 1350px;
  padding: 20px;
}
/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0a0a0a;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-bottom: 60px; /* Adjusted to prevent overlap with content */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.headersection {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  max-width: 1450px;
}
.logo {
  font-family: "Wallpoet", cursive;
  font-size: 2.6rem;
  font-weight: 700;
  color: #ff4754;
  text-decoration: none;
  transition: color 0.3s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.logo:hover {
  color: #fa0d41;
}
.hamburger {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  color: #cfcfcf;
}

/* navigation for desktop */
nav {
  display: flex;
  gap: 30px;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: #cfcfcf;
}
nav ul {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  position: relative;
  padding: 5px 0;
}
nav ul li a {
  color: #cfcfcf;
  position: relative;
  transition: color 0.3s ease;
}
nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff4754;
  transition: width 0.3s ease;
  z-index: 1;
}

nav ul li a:hover::after {
  width: 80%;
}

nav ul li a:hover {
  color: #ff4754;
}

/* admin-nav */
.admin-nav {
  justify-content: flex-end;
  width: 100%;
}
.admin-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.admin-links li {
  position: relative;
  padding: 5px 0;
}
.admin-links a {
  color: #cfcfcf;
  position: relative;
  transition: color 0.3s ease;
}
.admin-links a:hover {
  color: #ff4754;
}
.dropdown-parent:hover .dropdown {
  display: block;
}
.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #111;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-width: 130px;
  border-radius: 5px;
  z-index: 100;
}
.dropdown li {
  padding: 5px 10px;
}
.dropdown li a {
  color: #cfcfcf;
  font-size: 1rem;
}
.dropdown li a:hover {
  color: #fff;
  font-weight: 600;
}

/* profile image */
.profilepic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ff4754;
  transition: transform 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}
.profilepic:hover {
  transform: scale(1.1);
}
.dropdown-parent .profile {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.submenu {
  position: absolute;
  left: -500%;
  width: 250px;
  background-color: #111;
  padding: 10px;
  border-radius: 5px;
}
.submenu hr {
  border: none;
  height: 1px;
  background-color: #333;
  margin: 10px 0;
}
.userinfo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.userinfo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.userinfo h4 {
  font-size: 0.9rem;
  color: #cfcfcf;
  margin: 0;
}
.submenu-link {
  display: flex;
  align-items: center;
  margin: 17px 0;
  padding: 2px 0;
}
.submenu-link i {
  font-size: 1.2rem;
  color: #cfcfcf;
  margin-right: 10px;
}
.submenu-link p {
  width: 100%;
  color: #cfcfcf;
  transition: all ease 0.3s;
}
.submenu-link:hover p {
  color: #fff;
  font-weight: 700;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-right a {
  padding: 7px 10px;
  background-color: #ff4754;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
.header-right a:hover {
  background-color: #fa0d41;
}

/* home */
.top-section {
}

/* ------ responsive ----------- */
@media (max-width: 768px) {
  .headersection {
    justify-content: space-between;
  }
  .hamburger {
    display: block;
  }

  .submenu {
    position: static;
    background-color: #333;
    padding: 13px;
    margin-left: 55px;
    margin-top: -40px;
    border-radius: 8px;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #111;
    width: 100%;
    padding: 15px;
    gap: 15px;
  }

  .nav-menu.show {
    display: flex;
  }

  .nav-links,
  .admin-links {
    flex-direction: column;
    gap: 10px;
  }
}
